@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

/* body center */
body {
    font-family: 'Josefin Slab', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* login box */
#container {
    width: 30em;
    height: 35em;
}

.content {
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
}

#login_box {
    box-sizing: border-box;
    width: 480px;
    margin: 0 auto;
}

#logo {
    margin-top: 1.5em;
    font-size: 2.5em;
}

#logo a {
    text-decoration: none;
    color: #000;
}

#logo h2 {
    margin-top: 0.5em;
}

.login_info {
    width: 65%;
    height: 3em;
    border-radius: 5px;
    padding: 0 0.5em;
    margin: 0.2em auto;
    border: 1px solid #000;
}

.text_input {
    margin: 0.4em;
}

.login_info:focus {
    outline: none;
}

.login_info input {
    padding: 0;
    height: 80%;
    width: 80%;
    font-size: 13px;
    vertical-align: middle;
    border: none;
}

#submit_box {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Button CSS */
@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: 15px;
    }

    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@-webkit-keyframes criss-cross-right {
    0% {
        right: 15px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-right {
    0% {
        right: -20px;
    }

    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

*:before,
*:after {
    z-index: -1;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.input_submit {
    width: 69%;
    height: 3em;
    border-radius: 5px;
    padding: 0 0.5em;
    margin: 0 auto;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    color: #000;
}

.input_submit:before,
.input_submit:after {
    content: "";
    position: absolute;
    top: 50%;
    content: "";
    width: 20px;
    height: 20px;
    color:#e3d5d3;
    background-color: #000000;
    border-radius: 50%;
}

.input_submit:before {
    left: -20px;
    transform: translate(-50%, -50%);
}

.input_submit:after {
    right: -20px;
    transform: translate(50%, -50%);
}

.input_submit:hover {
    z-index: 1;
    color: #fff;
}

.input_submit:hover:before {
    -webkit-animation: criss-cross-left 0.8s both;
            animation: criss-cross-left 0.8s both;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

.input_submit:hover:after {
    -webkit-animation: criss-cross-right 0.8s both;
            animation: criss-cross-right 0.8s both;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

/* remeber me */
.remember_box {
    margin-top: 0.5em;
    font-size: 1.1em;
}

#fine_box {
    margin-top: 10px;
    margin-right: 6em;
    margin-left: 5em;
    margin-bottom: 1em;
    text-align: right;
}

#fine_box a {
    text-decoration: none;
    color: #000;
}

.fine {
    font-size: 0.9em;
}

#social_account {
    margin-top: 1.5em;
    margin-bottom: 0.2em;
    font-size: 1.2em;
    font-weight: 700;
}

.button_login i {
    font-size: 2em;
}

footer {
    margin-top: 1.5em;
    bottom: 0;
    z-index: 1;
    font-size: 0.9em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #000;
}